:root {
  --name-background: #eceff1;
  --black: #000000;
  --white: #ffffff;
  --grey: #747474;
}

.name {
  width: 80%;
  background-color: var(--name-background);
  font-size: 64px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 1.5px var(--black);
}

a {
  width: 25%;
  height: 50px;
  line-height: 48px;
  text-decoration: none;
  background: var(--name-background);
  color: var(--black);
  font-size: 18px;
  letter-spacing: 2px;
  border: 3px solid var(--black);
  transition: all 0.35s;
}

.icon {
  position: absolute;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  transform: rotate(45deg);
  z-index: -1;
  transition: all 0.35s;
}

.icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: var(--name-background);
  transition: all 0.35s;
}

a:hover {
  border: 3px solid var(--name-background);
  background: transparent;
  color: var(--name-background);
}

a:hover + .icon {
  border: 3px solid var(--name-background);
  left: calc(62% - 15px);
}
@media (max-width: 950px) {
  .name {
    font-size: 48px;
  }
}

@media (max-width: 700px) {
  .name {
    font-size: 36px;
  }

  a {
    width: 50%;
  }

  a:hover + .icon {
    border: 3px solid var(--name-background);
    left: calc(75% - 15px);
  }
}

@media (max-width: 545px) {
  .name {
    font-size: 28px;
    color: var(--grey);
    -webkit-text-stroke: var(--white);
  }
}

@media (max-width: 445px) {
  .name {
    font-size: 18px;
    color: var(--grey);
    -webkit-text-stroke: var(--white);
  }
}
