:root {
  --nav-background: #799ba9;
  --cloud-color: #eceff1;
  --cloud-shadow: #00000033;
}

body {
  background-color: var(--nav-background);
}

.cloud-container {
  white-space: nowrap;
  margin-left: -90px;
  overflow-y: visible;
  overflow-x: hidden;
}

.cloud {
  margin-left: -20px;
  margin-top: 20px;
  width: 150px;
  height: 50px;
  background: var(--cloud-color);
  box-shadow: 10px 10px var(--cloud-shadow);
  border-radius: 150px;
}
.cloud::after,
.cloud::before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}
.cloud::after {
  width: 45px;
  height: 40px;
  top: -30px;
  left: 0px;
}
.cloud::before {
  width: 65px;
  height: 60px;
  top: -20px;
  left: 10px;
}
