.blink {
  animation: blink 1.5s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .custom-position {
    position: static !important;
  }
}

@media (max-width: 992px) {
  .custom-position-lg {
    position: static !important;
  }
}
